/* Importando fonte */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400;500;600;700;800&family=Poppins:wght@200;400;500&display=swap');

/* Resetando alguns  estilos */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Estilizando o header */

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    background-color: #3F5137;
    font-family: 'Cinzel', serif;
}

.header-title {
   font-size: 32px;
   padding: 10px 10px;
   color: #B2B179;
}

.header-menu {
    display: flex;
    gap: 20px;
    padding: 10px 10px;
}

.header-item {
    padding: 10px 20px;
    font-size: 20px;
    color: #B2B179;
    cursor: pointer;
    font-weight: 500;
}


/* Estilizando Section main */

.section-main{
    height: 400px;
    font-family: 'Cinzel', serif;
    background-color: #1B3840;
    color: #fff;
}

.box-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.box-main .box-text {
    width: 30%;
    text-align: center;
}

.box-text h1 {
    font-size: 3rem;
}

.button {
    margin-top: 30px;
    border-radius: 10px;
    align-items: center;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 20px;
    border: 0px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-color: #859398;
}

.button:hover {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.button:active {
    transform: scale(0.95);
}

/* Estilizando Section Book Movies */

.section-books-movies {
 font-family: 'Cinzel', serif;
 background-image: url(../img/labirinto.webp);
 background-position: center;
 background-size: cover;
 color: #B2B179;
}


.movies {
  display: flex;
  justify-content: space-between;
}


.movies .figure-movies {
    display: flex;
    flex-direction: column;
     margin: 0 auto;
    align-items: center;
}

.figure-movies h2 {
    text-align: center;
    padding: 20px 20px;
}


.movie-img{
    width: 250px;
    height: 300px;
}
.characters{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 0 auto;
    align-items: center;
}

.characters h2{
    text-align: center;
    padding: 20px 20px;
}

.characters .figure-characters {
     width: 900px;
     display: flex;
    flex-wrap: wrap;
}
.characters .chac-img{
   display: inline-block;
   width: 450px;
   height: 350px;
}


/* Estilizando Footer */

.footer {
    height: 20vh;
    background-color: #3F5137;
    display: flex;
    justify-content: space-evenly;
    color: #B2B179;
}

.aling {
    display: flex;
    align-items: center;
    font-family: 'Cinzel', serif;
}

.box-icones {
    gap: 10px;
    cursor: pointer;
}